@import '../../../main-styles.scss';



    .centered-element {
        display: flex;
        max-width: 1000px;
        max-height: 680px;
        width: 100%;
        height: 100%;

        .side-bar {
            display: flex;
            flex-direction: column;
            width: 250px;
            background: white;
            padding: 42px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            .list-menu {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                margin-top: 15px;

                .list-item {
                    .list-title{
                        flex-grow: 1;
                    }
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2px 15px 2px 8px;
                    border-radius: 10px;
                    color: #5f5f5f;
                    margin-bottom: 7px;
                    .list-action-icons{
                        visibility: hidden;
                        display: flex;
                        align-items: center;
                        transition: 0.2s;
                        gap:1rem;
                        .action-icon{
                            height: 1rem;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                        
                    }

                    &:hover {
                        background: $light;
                        transition: 200ms;
                        .list-action-icons{
                            visibility: visible;
                        }
                    }

                    &.is-active {
                        background: #cff8ef;
                        color: $dark-green;
                    }
                }
            }

            .new-list-button {
                border: 0px;
                border-radius: 7px;
                font-family: $font-family;
                font-size: 20px;
                padding: 5px;
                transition: 400ms;

                &:hover {
                    background: darkseagreen;
                }

                &:active {
                    transform: scale(0.97);
                }

            }
        }

        .tasks-container {
            flex-grow: 1;
            background: $light;
            flex-direction: column;
            border-top-right-radius: 8px;
            padding: 42px;
            border-bottom-right-radius: 8px;
            position: relative;
            ;

            .task-list {
                margin-top: 15px;
                overflow-y: hidden;
                max-height: 70vh; 
                z-index: 2;
                &:hover{
                    overflow: auto;
                }
                

                .task {
                    z-index: 0;
                    background: white;
                    padding: 15px 20px;
                    margin-bottom: 10px;
                    border-radius: 7px;
                    transition: box-shadow .20s ease transform .5s ease;
                    transition: .20s ease;
                    user-select: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .task-action-icons{
                        visibility: hidden;
                        display: flex;
                        align-items: center;
                        gap:1rem;

                        .action-icon{
                            cursor: pointer;
                            height: 1rem;
                            transition: 0.1s;
                            opacity: 1;
                            &:hover{
                                background: white;
                                opacity: 1;
                                height: 1.2rem;
                            }
                        }
                    }

                    &:hover:not(.complete) {
                        background: ghostwhite;
                        box-shadow: 0.5px 0.5px 5px 3px #eeeeee;
                        .action-icon{
                            opacity: 1;
                        }
                    }
                    &:hover{
                        .task-action-icons{
                            visibility:visible;
                            display: flex;
                        }
                    }
                    &:active {
                        transform: scale(.98);
                    }

                    &.complete {
                        text-decoration: line-through;
                        opacity: 0.5;
                    }
                }
            }

            .new-task-button {
                border: 0px;
                font-family: $font-family;
                position: absolute;
                bottom: 25px;
                right: 25px;
                font-size: 30px;
                width: 60px;
                height: 60px;
                border-radius: 100px;
                transition: 400ms;
                box-shadow: 4px 4px 19px 0px $green;

                &:hover {
                    background: darkseagreen;
                box-shadow: 4px 4px 19px 0px darkseagreen;

                }

                &:active {
                    transform: scale(0.97);
                }

            }
        }
    }




.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .illustration-container{
        background: url('../../../assets/shrug.svg');    
        height: 60vh;
        aspect-ratio: 1;
        background-repeat: no-repeat;  
        border-radius: 1rem;
        box-shadow: 0 0  6px 0.5px gainsboro;
    }
    .text{
        color: grey;
        line-height: 2rem;
        font-size: 1.25rem;
        font-family: $font-family;
        text-align: center;
        margin-top:1.5rem;
        // .shrug-emoji{
        //     width: 1rem;
        //     height: 1rem;
        // }
    }

}