<div class="global">
    <div class="centered-element">
        <div class="side-bar">
            <h1 class="title primary-text">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-item">
                    <p>List 1</p>
                </a>
                <a class="list-item">
                    <p>List 2</p>
                </a>
                <a class="list-item is-active">
                    <p>List 3</p>
                </a>
            </div>
            <button class="is-primary new-list-button" (click)="creatNewList()">
                + New List
            </button>
        </div>
        <div class="tasks-container">
            <h1 class="title primary-text">
                Tasks
            </h1>
            <div class="task-list">
                <div class="task complete">Task 1 to be completed</div>
                <div class="task">Task 2 to be completed</div>
                <div class="task">Task 3 to be completed</div>
            </div>
            <button class="is-primary new-task-button">&nbsp;+&nbsp;</button>
        </div>
    </div>
</div>